/*Global*/
:root{
    /*Color*/
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-blue: #5DB8DF;
    --color-dark-blue: #53A4C7;
    --color-black: #4d4d4d;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-yellow: #fffcdb;
    --color-deep_yellow: #FFF156;
    --color-black: #000000;
    --color-orange: #e6a55a;
    /*Font size  */
    --font-large: 48px;
    --font-medium: 28px;
    --font-reqular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold:600;
    --weight-reaular: 400;
    /* Size */
    --size-border-radius: 4px;
    /* Animation Duriation */
    --animation-duration: 300ms;
}

/* Universal tags */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    cursor: default;
}
a {
    text-decoration: none;
    color: var(--color-white);
}
/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}
h2 {
    font-size: var(--font-reqular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}
h3 {
    font-size: var(--font-reqular);
    font-weight: var(--font-reqular);
    color: var(--color-black);
    margin: 8px 0;
}
p {
    font-size: var(--font-reqular);
    font-weight: var(--font-reqular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar */
li {
    list-style: none;
}
#navbar {
    display: flex; /*flex box "복잡한 계산 없이 요소의 크기와 순서를 유연하게 배치할 수 있다"*/
    justify-content: space-between; /* 중심축 정렬 */
    background-color: var(--color-blue);
    align-items: center;
    color: var(--color-white);
}
.img_1{
    color: var(--color-white);
    padding: 8px 12px;
}
.navbar_menu{
    display: flex;
}
.navbar_logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: white;
}
.navbar_menu_item{
    padding: 8px 12px;
    margin: 0 3px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar_menu_item.active{
    border: 1px solid var(--color-white);    
}
.navbar_menu_item:hover{
    background-color: var(--color-dark-blue);
}

.navbar__toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

/* Home */
#home {
    background: url('image/home-background2.png') center/cover no-repeat ;  
    padding: 40px;
    text-align: center;
}

.home_avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}


.home_title,
.home_description {
    color: var(--color-white);
}
/* Section common */

.section {
    padding :50px;
    text-align: center; 
    margin: auto;
}

.section_container {
    max-width: 1200px; /*1000~1200 컴퓨터 화면 편안*/
}

/* About */
.about_majors {
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0;
}

.major_icon {
    width: 200px;
    height: 200px;
    line-height: 200px; /*width와 height과 동일하게 설정하면 가운데로 온다.*/
    font-size: 70px;
    margin: auto;
    border: 1px solid var(--color-dark-blue);
    color: var(--color-blue);
    border-radius: 50%;
    margin-bottom:16px;
}

.major_icon i{
    transition: all var(--animation-duration) ease;
}
.major_icon:hover i{
    color: var(--color-yellow);
    transform: scale(1.2);
}
.major_title,
.major_description{
    color: var(--color-dark-grey);
}

.major_description{
    font-size: var(--font-small);
}

.job{
    display: flex;
    align-items: center;
}

.job_name,
.job_period{
    color: var(--color-light-grey);
}
.job_name{
    font-size: var(--font-small);
}
.job_period{
    font-size: var(--font-micro);
}
.job_description{
    margin: 0 16px;
    text-align: left;
}

/* Skill */
#skills{
    background-color: #fffcdb;
}
.skill{
    margin-bottom:8px;
}
.skillset{
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white)
}
.skillset_title{
    color: var(--color-white);
}
.skillset_left{
    flex-basis: 60%;
    background-color:  var(--color-dark-grey);
    padding: 40px 40px;
}

.skill_description{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.skillset_right{
    flex-basis:40%;
}
.skill_bar{
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}
.skill_value{
    width: 100%;
    height: 3px;
    background-color: var(--color-orange);
}
.tools{
    background-color: var(--color-grey);
}
.tools,
.etc{
    padding: 20px;
}
